body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f8f8f8;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

canvas {
    width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
}